h1 {
    text-align: center;
}

div {
    padding-left: 10%;
    padding-right: 10%;
    align-content: center;
}

p {
    align-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

.gray-line {
    height: 4px;
    width: 100%;
    background-color: silver;
}